body {
    background-color: #eee;
    font-size: 20px;
}

h1,
div {    
    margin: 20px;
}

input, button {
    display: block;
    padding: 5px 15px;
    margin: 20px;
    border: 1px grey solid;
    border-radius: 4px;
    font-size: 18px;
}

button {
    font-size: 24px;
    padding: 5px 25px;
    background-color: #428bca;
    border-color: #357ebd;
    color: #fff;
}

button:hover {
    background-color: #357ebd;
}

#result {
    font-size: 30px;
    font-family: "Arial";
    color: #0a72af;
}